* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: 'roboto', sans-serif;
  font-size: 10px;
}

body {
  background-color: rgb(224, 219, 219);
}

header {
  background-image: url(./assets/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 330px;
  display: flex;
  text-align: center;
  justify-content: center;
}

header div img {
  width: 100px;
  margin-top: 20px;
}

header h2 {
  font-size: 2rem;
  font-weight: bold;
}

.carrosel {
  width: 80%;
  margin-top: 40px;
  border-radius: 10px;
  box-shadow: 5px 5px gray;
}

header h2 {
  margin-top: 40px;
  color: white;
}

main {
  width: 100vw;
  margin-top: 110px;
}

main div {
  padding-inline: 20px;
}

main div h1 {
  margin-bottom: 10px;
  font-size: 2rem;
  color: rgb(47, 47, 65);
}

main div h2 {
  margin-bottom: 10px;
  font-size: 1.5rem;
  font-weight: 600;
  color: rgb(47, 47, 65);
}

main div ul li {
  list-style: none;
  font-size: 1.5rem;
  color: rgb(47, 47, 65);
}

main div ul {
  margin-bottom: 20px;
  color: rgb(47, 47, 65);
}

main div footer h2 {
  font-size: 1.6rem;
  font-weight: 600;
}

button {
  border-radius: 25px;
  border: none;
  padding: 10px 20px;
  font-size: 1.2rem;
  width: 200px;
  background-color: green;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-inline: auto;
  margin-block: 40px;
}

button strong {
  font-size: 1.2rem;
  color: white;
  text-decoration: none;
}

a {
  text-decoration: none;
}

/*===BREAKING POINTS============================*/

   @media (min-width: 481px) {
    .carrosel {
      width: 470px;
    }
  
    header {
      height: 340px;
    }
  
    main {
      
      margin-top: 200px;
    }
} 



 @media (min-width: 680px) {
  .carrosel {
    width: 650px;
  }

  header {
    height: 380px;
  }

  main {
    
    margin-top: 200px;
  }
} 

@media (min-width: 1012px) {
  .carrosel {
    width: 800px;
  }

  header {
    height: 420px;
  }

  main {
    
    margin-top: 250px;
  }
}
